.form-holder {
    margin-top: 15px;
    max-width: 100%;

    @media (max-width: 576px) {
        max-width: 100%;
    }

    form {
        max-width: 50%;
        background: var(--white);

        @media (max-width: 576px) {
            max-width: 100%;
            border-radius: 0;
        }

        .ant-form-item {
            .ant-form-item-label, .ant-form-item-required {
                font-size: 15px;
                font-weight: 500;
                color: #000000;
            }

            .ant-input {
                font-size: 14px;
                font-weight: 500;
                padding: 10px;
                padding-left: 15px;
            }

            .ant-select {
                height: 45px;
            }

            .ant-picker {
                width: 100%;
                height: 45px;
            }

            .ant-select-selection-item {
                font-size: 14px;
                font-weight: 500;
            }

            .ant-select-item-option-content {
                font-size: 14px;
                font-weight: 500;
            }

            .ant-form-item-explain {
                position: relative;
                top: auto;
              }
      
              .ant-form-item-explain-error {
                margin-top: 2px;
                margin-bottom: 10px;
                font-size: 12px;
                font-weight: 500;
              }

            &.form-actions {
                margin: 0;

                .ant-form-item-row {
                    width: 100%;
                }
            }
        }
    }
}

.ant-table-cell {
    a {
        color:#1677ff
    }
    a:hover {
        color:#003783
    }
}
