.customers {
    .ant-menu {
        margin-top: 0px !important;
        background-color: transparent;
        margin-bottom: 1px;

        .ant-menu-item {
            margin: 0 0 0 0px;
        }

        .ant-menu-title-content {
            font-size: 16px;
            font-weight: 600;
        }
    }
}